body {
	padding: 40px;
}

body, p {
	font-size: 12pt;
}

#nav {
	list-style-type: none;
}
#nav li {
	float: left;
	padding: 0 8px;
}
#nav li a {
	cursor: pointer; color: blue;
}
#container {
	clear: both;
	margin-top: 16px;
}
