<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <ul id="nav">
            <li>
                <a data-url="">Home</a>
            </li>
            <li>
                <a data-url="/cars">Cars</a>
            </li>
            <li>
                <a data-url="/boats">Boats</a>
            </li>
        </ul>
        <div id="container"></div>
        <script id="newVehicleTemplate" type="text/template">
            <input class="registration-number" type="text"></input>
            <button class="add">Add</button>
        </script>
        <script id="vehicleTemplate" type="text/template">
             <%= registrationNumber %>
             <button class="delete">Delete</button>
        </script>
        <script src="js/lib/jquery-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/main2.js"></script>
    </body>
</html>
