<!doctype html>
<html>
	<head>
		<title>Backbone: View Project</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body>
		<div id="cars"></div>
		<script src="js/lib/jquery-3.4.1.min.js"></script>
		<script src="js/lib/underscore-1.9.1.min.js"></script>
		<script src="js/lib/backbone-1.4.0.min.js"></script>
		<script id="carTemplate" type="text/html">
			<%=manufacturer%> <%=model%> <%=colour%> <%=registration%>
			<button>Delete</button>
		</script>
		<script type="text/javascript" src="js/viewsProject.js"></script>
	</body>
</html>